body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    background-color: #f4f4f4;
    color: #333;
}

body.dark {
    background-color: #333;
    color: #f4f4f4;
}

.theme-toggle {
    margin-bottom: 20px;
    text-align: right;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
}

.card {
    position: relative;
}

.card-link {
    text-decoration: none;
    color: inherit; /* カード内のテキスト色を維持 */
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    padding: 10px;
    font-size: 16px;
}
